# Mac OS thumbnails
.DS_Store

# Gradle build directory
build/

# Gradle 
.gradle

node_modules/*
src/CLI.js
src/CLI.js.map
src/TypeScriptEnvironmentReader.js
src/TypeScriptEnvironmentReader.js.map
deserializers/java/deserializers.iml