# Mac OS thumbnails
.DS_Store

# lock files
package-lock.json
yarn.lock

# Gradle build directory
build/

# Gradle 
.gradle

# out folder
out/

node_modules/*
src/CLI.js
src/CLI.js.map
src/TypeScriptEnvironmentReader.js
src/TypeScriptEnvironmentReader.js.map
deserializers/java/deserializers.iml